body {
  padding: none;
  margin: none;
  display: flex;
  flex-direction: column;
}

#intro {
  height: 100vh;
  background: conic-gradient(
      from 0deg at 50% 50%,
      #096bff 0deg,
      #1000cb 93.12deg,
      #100074 243.12deg,
      #000f5f 360deg
    ),
    linear-gradient(0deg, #ffffff, #ffffff);
  padding: none;
  margin: none;
}

.intro {
  gap: 2rem;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.buttontext {
  color: #ffffff;
  font-family: Darker Grotesque;
  font-size: 32px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0px 10px;
}

#caption {
  position: relative;
  top: 370px;
  text-align: center;
}

#title {
  position: relative;
  top: 340px;
  text-align: center;
}

#button {
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem 1.5rem;
  outline: 1px solid white;
  text-decoration: none;
  border-radius: 6rem;
  width: 400px;
  position: relative;
  top: 460px;
  margin: auto;
}

hr {
  stroke: 1px;
  width: 1px;
  color: #ffffff;
  outline: #ffffff;
}
