/* left side section, curated links */

#links {
  display: flex;
  flex-direction: row;
  background: linear-gradient(
    251.64deg,
    #110079 2.59%,
    #0031de 35.99%,
    #5649ed 71.24%,
    #7e68ff 98.33%
  );
}

#curatedlinks {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 50vw;
  padding: 6rem 7rem;
  height: 76vh;
}

/* should override text style size (2rem)*/
.large.material-symbols-outlined {
  font-size: 3rem !important;
}

.svg_pearl {
  width: 20rem;
}

#box1,
#box2,
#box3 {
  display: flex;
  justify-content: space-between;
  /* gap: 4rem; */
  align-items: baseline;
}

/* right side section, about gradients */
.vertical {
  box-sizing: border-box;
}

#aboutgradients {
  width: 50vw;
  padding: 6rem 7rem;
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: 76vh;
}

.footer_nav {
  background: conic-gradient(rgb(0, 17, 130), rgb(19, 0, 89));
  height: 280px;
}

#credit {
  position: relative;
  top: 80px;
}

.footer_nav > p {
  position: relative;
  top: 100px;
}

.footer_nav > * {
  padding-left: 100px;
}

.website {
  color: #ffffff;
  text-decoration: underline;
}

.website:hover {
  opacity: 0.5;  
}

a:hover {
  opacity: 0.3;
  transition: ease-out;
  transition-duration: 500ms;
  text-decoration: none;
}


.vertical {
  border: none;
  width: 1px;
  margin: 0;
  height: 0px;
  padding: 0;
  size: 1000px;
  color: #ffffff;
}
*/
.vertical {
  border: none;
  background-color: white;
  width: 1px;
}
.horizontal {
  margin: 0;
  padding: 0;
  height: 1px;
  width: 1px;
  border: none;
  box-sizing: border-box;
  color: #ffffff;
  outline: #ffffff;
}

/* margin: 0;
  padding: 0;
  width: 1px;
  box-sizing: border-box;
  border-color: #ffffff; 
  go search how does hr work*/
