.intro {
  gap: 2rem;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.buttontext{
  color: #FFFFFF;
  font-family: Darker Grotesque;
  font-size: 32px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0px 10px;
}

.material-symbols-outlined {
  font-family: Material Icons;
}

