

.material-symbols-outlined {
    color: #FFFFFF;
  }
  
  h1 {
    font-family: Darker Grotesque;
    color: #FFFFFF;
    font-size: 184px;
    font-weight: 500;
    line-height: 184px;
    text-align: center;
  }
  
  h4 {
    font-family: Darker Grotesque;
    font-size: 2rem;
    color: #FFFFFF;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 2rem;
    letter-spacing: 0.2em;
    text-align: center;
    display: inline;
  } 
  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem 1rem;
    outline: 1px solid white;
    text-decoration: none;
    border-radius: 6rem;
    width: 400px;
    margin: auto;
  }
  