

.material-symbols-outlined {
    color: #FFFFFF;
    font-size: 32px;
  }
  
  h1 {
    font-family: Darker Grotesque;
    color: #FFFFFF;
    font-size: 184px;
    font-weight: 500;
    line-height: 184px;
    text-align: center;
  }
  
  h2 {
    font-family: Darker Grotesque;
    color: #FFFFFF;
    font-weight: 600;
    line-height: 49px;
    letter-spacing: 0.2em;
    text-align: center;

  }

  h4 {
    font-family: Darker Grotesque;
    font-size: 2rem;
    color: #FFFFFF;
    font-family: Darker Grotesque;
    font-size: 84px;
    font-weight: 600;
    line-height: 114px;
    letter-spacing: 0em;
    text-align: left;

  } 
  
  p {
    font-family: Darker Grotesque;
    font-size: 32px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;

  }
  